[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
[submodule "External/D3D12MemoryAllocator"]
	path = External/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
